<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assetsAdmin/img/favicon.png" rel="icon">
  <link href="/assetsAdmin/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assetsAdmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assetsAdmin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assetsAdmin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assetsAdmin/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assetsAdmin/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assetsAdmin/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assetsAdmin/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assetsAdmin/css/style.css" rel="stylesheet">


</head>

<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Product Details</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Products</h5>

              <!--Table -->
              <table class="table table-hover  ">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                     <th scope="col">Price</th>
                    <th scope="col">Image</th>

                    <th scope="col">Add Offers</th>

                  </tr>
                </thead>
                <tbody>
                  {{#each Product}}
                  <tr id="{{this._id}}">
                    <th scope="row">{{@index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td><img style="width: 40px; height: auto;" src="/picture/product-images/{{this.img.[0]}}" alt=""></td>

                          <td>
                        <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       Add Offer
                                   </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   
                    <div class="row mb-3">
                    <div class="col-sm-10">
                         <form action="/admin/addOffer/{{this._id}}" method="post" id="offers">
                       {{!-- <label for="inputText" class="col-sm-5 col-form-label">Stock</label required> --}}
                        <input type="number" class="form-control" name="offers">
                         <div class="row mb-3">
                             <label class="col-sm-2 col-form-label"></label>
                             <div class="col-sm-10">
                         <button type="submit" class="btn btn-dark">Submit</button>
                      </div>
                </div>
                          </form>
                     </div>
                </div>
   
                 </div>
                    </div>
                    </td> 
                  </tr> 
                  {{/each}}                
                </tbody>
              </table>
              <!-- EndTable -->

            </div>
          </div>
        </div>

      </div>
    </section>


  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



  <!-- Vendor JS Files -->
  <script src="/assetsAdmin/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assetsAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assetsAdmin/vendor/chart.js/chart.min.js"></script>
  <script src="/assetsAdmin/vendor/echarts/echarts.min.js"></script>
  <script src="/assetsAdmin/vendor/quill/quill.min.js"></script>
  <script src="/assetsAdmin/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assetsAdmin/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assetsAdmin/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assetsAdmin/js/main.js"></script>

 




</body>

</html>