<link rel="stylesheet" href="/stylesheets/orderPage.css">

<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;">
         
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0" style="color: #a8729a;">Ordered Products</p>
            </div>
            {{#each orders}}
            <div class="card shadow-0 border mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src="/picture/product-images/{{this.product.img.[0]}}"
                      class="img-fluid" alt="Phone">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0">{{this.product.name}}</p>
                  </div>
                
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Category: {{this.product.category}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Qty: {{this.quantity}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">₹ {{this.product.price}}</p>
                  </div>
                </div>
                <div class="row d-flex align-items-center">
                  <br><br><br><br>
                  <div class="col-md-10 ">
                   <select class="btn btn-info" name="trackOrder" onchange="status('{{this._id}}','{{this.product._id}}',event)">
                    <option value="{{this.trackOrder}}">{{this.trackOrder}}</option>
                  
                    <option value="cancel">Cancel</option>
                    <option value="dispach">Dispach</option>
                    <option value="shipped">Shipped</option>
                    <option value="delivered">Delivered</option>
                   </select>
                    
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
           

            
          </div>
       
        </div>
      </div>
    </div>
  </div>
</section>        


<script>
  function status(orderId, proId , event){
    value = event.target.value
       $.ajax({
      url:'/admin/changeStatus',
      method:'post',
      data:{
        orderId:orderId,
        proId:proId,
        status:value,
      },
      success:(response)=>{
     if(response.status){
      location.reload()
     }
        
      }
    })
  }
</script>