<main class="main" id="main">


  <div class="card">
    <div class="card-body">

      <!-- Bordered Tabs Justified -->
      <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100 active" id="home-tab" data-toggle="tab"
            data-target="#bordered-justified-home" type="button" role="tab" aria-controls="home"
            aria-selected="true">Daily Sales Report</button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="profile-tab" data-toggle="tab"
            data-target="#bordered-justified-profiles" type="button" role="tab" aria-controls="profile"
            aria-selected="false">Monthly Sales Report</button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="contact-tab" data-toggle="tab"
            data-target="#bordered-justified-contact" type="button" role="tab" aria-controls="contact"
            aria-selected="false">Yearly Sales Report</button>
        </li>
      </ul>
      <div class="tab-content pt-2" id="borderedTabJustifiedContent">

        <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">

          <div class="card">
            <div class="card-body">

              <!-- Table with hoverable rows -->
              <table class="table table-hover" id="weekly-table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Total Sale Amount</th>
                    <th scope="col">Total No of Order</th>

                  </tr>
                </thead>
                <tbody>
                  {{#each Dailysales}}

                  <tr>
                    {{! <th scope="row"><input type="checkbox" /></th> }}

                    <td class="tm-product-name">{{this._id}}</td>
                    <td class="tm-product-name">{{this.dailySaleAmount}}</td>
                    <td class="tm-product-name">{{this.count}}</td>

                  </tr>

                  {{/each}}

                  <tr>
                    <td>
                      <h6 class="text-center text-danger"><strong>Total Sale:</strong>{{Dailysales.totalAmount}}</h6>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- End Table with hoverable rows -->

            </div>
          </div>
          <button class="btn btn-outline-success" onclick="weeklyReportPDF()"><i class="bi bi-download"></i>
            Download Pdf</button>
          <button class="btn btn-outline-success" onclick="dailyData()"><i class="bi bi-download"></i>
            Download exel</button>

        </div>

        <div class="tab-pane fade" id="bordered-justified-profiles" role="tabpanel" aria-labelledby="profile-tab">

          <div class="card">
            <div class="card-body">

              <!-- Table with hoverable rows -->
              <table class="table table-hover" id="monthly-table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Total Sale Amount</th>
                    <th scope="col">Total No of Order</th>

                  </tr>
                </thead>
                <tbody>
                  {{#each MonthlySales}}

                  <tr>
                    {{! <th scope="row"><input type="checkbox" /></th> }}

                    <td class="tm-product-name">{{this._id}}</td>
                    <td class="tm-product-name">{{this.monthlySaleAmount}}</td>
                    <td class="tm-product-name">{{this.count}}</td>

                  </tr>

                  {{/each}}
                  <tr>
                    <td>
                      <h6 class="text-center"> <strong>Total Sale:</strong>{{MonthlySales.totalAmount}}</h6>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- End Table with hoverable rows -->

            </div>
          </div>
          <button class="btn btn-outline-success" onclick="monthlyReportPDF()"><i class="bi bi-download"></i>
            Download</button>
          <button class="btn btn-outline-success" onclick="monthlyData()"><i class="bi bi-download"></i>
            Download exel</button>

        </div>

        <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel" aria-labelledby="contact-tab">

          <div class="card">
            <div class="card-body">

              <!-- Table with hoverable rows -->
              <table class="table table-hover" id="yearly-table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Total Sale Amount</th>
                    <th scope="col">Total No of Order</th>

                  </tr>
                </thead>
                <tbody>
                  {{#each YearlySale}}

                  <tr>
                    {{! <th scope="row"><input type="checkbox" /></th> }}

                    <td class="tm-product-name">{{this._id}}</td>
                    <td class="tm-product-name">{{this.yearlySaleAmount}}</td>
                    <td class="tm-product-name">{{this.count}}</td>

                  </tr>

                  {{/each}}
                  <tr>
                    <td>
                      <h6 class="text-center"> <strong>Total Sale:</strong> {{YearlySale.totalAmount}}</h6>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- End Table with hoverable rows -->

            </div>
          </div>
          <button class="btn btn-outline-success" onclick="yearlyReportPDF()"><i class="bi bi-download"></i>
            Download</button>
          <button class="btn btn-outline-success" onclick="yearlyData()"><i class="bi bi-download"></i>
            Download exel</button>

        </div>
      </div><!-- End Bordered Tabs Justified -->

    </div>
  </div>


</main>





<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>

<script type="text/javascript">

  function weeklyReportPDF() {
    var doc = new jsPDF('p', 'pt', 'letter');
    var htmlstring = '';
    var tempVarToCheckPageHeight = 0;
    var pageHeight = 0;
    pageHeight = doc.internal.pageSize.height;
    specialElementHandlers = {
      // element with id of "bypass" - jQuery style selector  
      '#bypassme': function (element, renderer) {
        // true = "handled elsewhere, bypass text extraction"  
        return true
      }
    };
    margins = {
      top: 150,
      bottom: 60,
      left: 40,
      right: 40,
      width: 600
    };
    var y = 20;
    doc.setLineWidth(2);
    doc.text(200, y = y + 30, "Weekly Sales Report");
    doc.autoTable({
      html: '#weekly-table',
      startY: 70,
      theme: 'grid',
      columnStyles: {
        0: {
          cellWidth: 180,
        },
        1: {
          cellWidth: 80,
        },
        2: {
          cellWidth: 80,
        },
                {{!-- 3: {
      cellWidth: 80,
    } --}}
            },
  styles: {
    minCellHeight: 40
  }
        })
  doc.save('sales-weekly-report.pdf');
    }


  function monthlyReportPDF() {
    var doc = new jsPDF('p', 'pt', 'letter');
    var htmlstring = '';
    var tempVarToCheckPageHeight = 0;
    var pageHeight = 0;
    pageHeight = doc.internal.pageSize.height;
    specialElementHandlers = {
      // element with id of "bypass" - jQuery style selector  
      '#bypassme': function (element, renderer) {
        // true = "handled elsewhere, bypass text extraction"  
        return true
      }
    };
    margins = {
      top: 150,
      bottom: 60,
      left: 40,
      right: 40,
      width: 600
    };
    var y = 20;
    doc.setLineWidth(2);
    doc.text(200, y = y + 30, "Monthly Sales Report");
    doc.autoTable({
      html: '#monthly-table',
      startY: 70,
      theme: 'grid',
      columnStyles: {
        0: {
          cellWidth: 180,
        },
        1: {
          cellWidth: 80,
        },
        2: {
          cellWidth: 80,
        },
                {{!-- 3: {
      cellWidth: 80,
    } --}}
            },
  styles: {
    minCellHeight: 40
  }
        })
  doc.save('sales-monthly-report.pdf');
    }


  function yearlyReportPDF() {
    var doc = new jsPDF('p', 'pt', 'letter');
    var htmlstring = '';
    var tempVarToCheckPageHeight = 0;
    var pageHeight = 0;
    pageHeight = doc.internal.pageSize.height;
    specialElementHandlers = {
      // element with id of "bypass" - jQuery style selector  
      '#bypassme': function (element, renderer) {
        // true = "handled elsewhere, bypass text extraction"  
        return true
      }
    };
    margins = {
      top: 150,
      bottom: 60,
      left: 40,
      right: 40,
      width: 600
    };
    var y = 20;
    doc.setLineWidth(2);
    doc.text(200, y = y + 30, "Yearly Sales Report");
    doc.autoTable({
      html: '#yearly-table',
      startY: 70,
      theme: 'grid',
      columnStyles: {
        0: {
          cellWidth: 180,
        },
        1: {
          cellWidth: 80,
        },
        2: {
          cellWidth: 80,
        },
                {{!-- 3: {
      cellWidth: 80,
    } --}}
            },
  styles: {
    minCellHeight: 40
  }
        })
  doc.save('sales-yearly-report.pdf');
    }



  function dailyData() {
    const data = `
                ,date,Total,no.of Order
            {{#each DailySalesforDownload}}
                ,{{_id}},{{DailySaleAmount}},{{count}}
            {{/each}},GrandTotal,{{totalDaily.[0].GrandTotal}}`

    const blob = new Blob([data], { type: 'octet-stream' })

    const href = URL.createObjectURL(blob)

    const a = Object.assign(document.createElement('a'), {
      href,
      style: 'display:none',
      download: 'data.csv'
    })

    document.body.appendChild(a)

    a.click()

    URL.revokeObjectURL(href)

    a.remove()
  }

  function monthlyData() {
    const data = `
            ,date, Total,no.of Order
        {{#each MonthlySalesforDownload}}
            ,{{_id}},{{MonthlySaleAmount}},{{count}}
        {{/each}},GrandTotal,{{totalDaily.[0].GrandTotal}}`

    const blob = new Blob([data], { type: 'octet-stream' })

    const href = URL.createObjectURL(blob)

    const a = Object.assign(document.createElement('a'), {
      href,
      style: 'display:none',
      download: 'data.csv'
    })

    document.body.appendChild(a)

    a.click()

    URL.revokeObjectURL(href)

    a.remove()
  }

  function yearlyData() {
    const data = `
            ,date, Total,no.of Order
        {{#each YearlySalesforDownload}}
            ,{{_id}},{{YearlySaleAmount}},{{count}}
        {{/each}},GrandTotal,{{monthtotal.[0].GrandTotal}}`

    const blob = new Blob([data], { type: 'octet-stream' })

    const href = URL.createObjectURL(blob)

    const a = Object.assign(document.createElement('a'), {
      href,
      style: 'display:none',
      download: 'data.csv'
    })

    document.body.appendChild(a)

    a.click()

    URL.revokeObjectURL(href)

    a.remove()
  }

</script>