<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assetsAdmin/img/favicon.png" rel="icon">
  <link href="/assetsAdmin/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assetsAdmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assetsAdmin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assetsAdmin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assetsAdmin/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assetsAdmin/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assetsAdmin/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assetsAdmin/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assetsAdmin/css/style.css" rel="stylesheet">

</head>

<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Order Details</h1>
      <nav>
       
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Users</h5>

              <!-- Dark Table -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Date</th>
                    <th scope="col">OrderID</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment</th>
                      <th scope="col">User Name</th>

                      <th scope="col">Address</th>
                    <th scope="col">Action</th>
                     {{!-- <th scope="col">View Orders</th> --}}
                  </tr>
                </thead>
                <tbody>
                 
                 {{#each orders}}
                  <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{this.date}}</td>
                    <td>{{this._id}}</td>
                    <td>{{this.totalAmount}}</td>
                    <td>{{this.paymentMethod}}</td>
                   <td>{{this.deliveryDetails.name}}</td>
                    <td>{{this.deliveryDetails.address}}</td>
                    <td><div class="dropdown">
                    
                  <a class="btn btn-dark" href="/admin/orderList/{{this._id}}">view Product</a>
                       
                    </td>
                    
                  </tr>
                {{/each}}
                </tbody>
              </table>
              <!-- End Dark Table -->

            </div>
          </div>
        </div>

        
      </div>
    </section>

  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assetsAdmin/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assetsAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assetsAdmin/vendor/chart.js/chart.min.js"></script>
  <script src="/assetsAdmin/vendor/echarts/echarts.min.js"></script>
  <script src="/assetsAdmin/vendor/quill/quill.min.js"></script>
  <script src="/assetsAdmin/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assetsAdmin/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assetsAdmin/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assetsAdmin/js/main.js"></script>











</body>

</html>